@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200;300;400;700&display=swap');

body {
  font-family: 'Anek Telugu', sans-serif;
  background-color: #f2f7f5;
  color: #00473e;
}

li {
    list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

